/* CSSCompare stylesheet */

body {
  background-color: #f2f2f2;
  margin: 0;
}

header {
  background-color: #ff9a00;
  color: white;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: #ffcc80;
}

nav li {
  font-size: 20px;
}

nav a {
  color: #ff9a00;
  text-decoration: none;
  padding: 1em;
}

nav a:hover {
  background-color: #ff9a00;
  color: white;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.xbox {
  background-color: #98FB98;
  border: 1px solid #006400;
  border-radius: 10px;
  width: 48%;
  padding: 20px;
}

.xbox img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.ps5 {
  background-color: #add8e6;
  border: 1px solid #00008b;
  border-radius: 10px;
  width: 48%;
  padding: 20px;
}

.ps5 img {
  display: block;
  margin: auto;
  max-width: 100%;
}

h2 {
  color: #ff9a00;
  text-align: center;
}

footer {
  background-color: #98FB98;
  color: white;
  text-align: center;
  padding: 10px;
}
