/* Universal styles */

/* Reset default values */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set default font and font size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Style links */
 a {
  color: #333;
  text-decoration: none;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}

/* Style links on hover */
a:hover {
  color: #555;
}
/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
  /* Adjust font size for smaller screens */
  body {
    font-size: 14px;
  }
}

/* Style footers*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px; 
  background-color: #006400;
  color: white;
  text-align: center;
  padding: 10px;
}

