/* Xbox Page */

body {
  background-color: #D8FFD8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #006400;
  color: white;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: #98FB98;
}

nav li {
  font-size: 20px;
}

nav a {
  color: #006400;
  text-decoration: none;
  padding: 1em;
}

nav a:hover {
  background-color: #006400;
  color: white;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

section {
  background-color: #98FB98;
  border: 1px solid #006400;
  border-radius: 10px;
  width: 48%;
  padding: 20px;
}

section img {
  display: block;
  margin: auto;
  max-width: 100%;
}

h2 {
  color: #006400;
  text-align: center;
}

footer {
  margin-top: auto;
  background-color: #006400;
}
